:root {
  --primaryColor: #f3f4f6;
  --white: #ffff;
  --secundaryColor: #dae9fe;
  --TertiaryColor: #588cd5;
}

.titulo {
  font-size: 30px;
  font-weight: 700;
}

.no-results {
  color: #ff0000;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
